<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ record_date_str }}</title>
</head>
<body>
<h2>Day Entry: {{ record_date_str }}</h2>

<p>
    Time Logged: {{ day_time_logged_str }}
    <br>
    Tags: <span style="color:#696969;"><em>{{ day_tags_str }}</em></span>
</p>


<h2>Scrum:</h2>

<p>
    {% autoescape off %}
    {{ scrum_summary }}
    {% endautoescape %}
</p>


<h4>Task List:</h4>

<ol>
    {% for scrum_entry in scrum_entries %}
    <li>{{ scrum_entry.title }} <span style="font-size:12px;">[{{ scrum_entry.time_logged_str }}] {{ scrum_entry.final_status }}</span></li>
    {% empty %}
    You don't have any tasks logged today, holiday? :D
    {% endfor %}
</ol>


{% if scrum_entries %}
    <h4>Task Notes:</h4>
    <ol>
        {% for scrum_entry in scrum_entries %}
        <li>
            {{ scrum_entry.title }} <em style="color: rgb(105, 105, 105);">{{ scrum_entry.tags_str }}</em>
            <p>
                {% autoescape off %}
                {{ scrum_entry.notes }}
                {% endautoescape %}
            </p>
        </li>
        {% endfor %}
    </ol>
{% endif %}


{% if journal_entries or day_summary %}
    <h2>Journal:</h2>

    <p>
        {% autoescape off %}
        {{ day_summary }}
        {% endautoescape %}
    </p>

    <ol>
        {% for journal_entry in journal_entries %}
        <li>
            {{ journal_entry.title }} <em style="color: rgb(105, 105, 105);">{{ journal_entry.tags_str }}</em>
            <p>
                {% autoescape off %}
                {{ journal_entry.response }}
                {% endautoescape %}
            </p>
        </li>
        {% endfor %}
    </ol>
{% endif %}

</body>
</html>
